
{$lastik = $this->products->anasayfasiralama()->lastik } 


{foreach from=$lastik[$kategori] item=urun name=uk}

<tr>
    <td align="center">
        {$smarty.foreach.uk.index +1}
    </td>
    <td>{$urun->stok_kodu}</td>
    <td>{$urun->urun_adi}</td>
    <td style="text-align: center;">{if !$smarty.foreach.uk.last}
        <a  href="#" onclick="urunsirala('down',{$kategori},{$urun->id}); return false;" title="Aşağı"  class="btn btn-sm btn-default asagi">
            <i class="icon-arrow-down"></i>
        </a>{/if}
    </td>
    <td style="text-align: center;">{if !$smarty.foreach.uk.first}
        <a  href="#" onclick="urunsirala('up',{$kategori},{$urun->id}); return false;" title="Yukarı"   class="btn btn-sm btn-default yukari">
            <i class="icon-arrow-up"></i>
        </a>{/if}
    </td>

</tr> 

{/foreach}  
