<table width="600" height="80" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td width="365" style="background-color: #eaeaea; border-right: 5px solid #cacaca;">
                <table width="365" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td width="275" style="font-family: Verdana, sans-serif; font-size:  21px; color: #646464; text-align: right">{$title}</td>
                            <td width="90"><img src="{$icon}" /></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td valign="middle" align="center">Lastikcim.com.tr</td>
        </tr>
    </tbody>
</table>