{*}<table width="601" height="424" border="0" cellpadding="0" cellspacing="0" style="font-family:'Lucida Grande','Lucida Sans Unicode','Lucida Sans','DejaVu Sans', Verdana, sans-serif; font-size: 12px; color: #646464; background-color: #eaeaea; border-top:solid 4px #cacaca;">
    <tbody>
	    <tr>
	        <td>
	        	<table width="560" border="0" align="center" cellpadding="8" cellspacing="8">
	            	<tbody>
		                <tr>
		                    <td><a href="#" target="_blank"><img src="http://www.tasit.com/images/email/widget/KiralikUgulamasi.jpg" alt="" class="CToWUd"></a></td>
		                    <td><a href="#" target="_blank"><img src="http://www.tasit.com/images/email/widget/Simdiilanver.jpg" alt="" class="CToWUd"></a></td>
		                </tr>
		                <tr>
		                    <td><a href="#" target="_blank"><img src="http://www.tasit.com/images/email/widget/HemenDopingYap.jpg" alt="" /></a></td>
		                    <td><a href="#" target="_blank"><img src="http://www.tasit.com/images/email/widget/MarkaUygulamalari.jpg" alt="" /></a></td>
		                </tr>
	                </tbody>
	            </table>
	        </td>
	    </tr>
    </tbody>
</table>{*}