<table width="600" height="80" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td width="365" style="background-color:#eaeaea;border-right:solid 5px #cacaca">

                <table width="365" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, sans-serif; font-size: 12px; color: #646464; text-align: center">
                            	&copy; Copyright  lastikcim.com.tr A.Ş.
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </td>
         {*}   <td>
            	<img src="http://www.tasit.com/images/email/sosyal.jpg" style="display: block;" />
            </td>{*}
        </tr>
    </tbody>
</table>