<!-- BEGIN FOOTER -->
<div class="copyright">
    <div style="float:left">
        Tüm Hakları Saklıdır 2015 © <span style="color:#E43A45;">Lastikcim</span>
    </div>
    <div style="float:right;font-size:10px;">
        Proje: <a href="https://www.digitalmarketing.com.tr" title="Digital Marketing" target="_blank">Digital Marketing</a>
        
    </div>
</div>

<a href="#index" class="go2top">
    <i class="icon-arrow-up"></i>
</a>
<!-- END FOOTER -->